<IfModule mod_headers.c>
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header set X-Frame-Options: "sameorigin"
Header always set X-Content-Type-Options "nosniff"
Header always set Referrer-Policy "strict-origin-when-cross-origin"
Header set Permissions-Policy "accelerometer=(), geolocation=(self), fullscreen=(), autoplay=(), camera=(), display-capture=(self)"
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy " base-uri 'self'; script-src 'self'; "
</IfModule>

RewriteEngine on

RewriteRule a-propos index.php?page=about
RewriteRule ma-formation index.php?page=formation
RewriteRule mes-realisations index.php?page=production
RewriteRule me-contacter index.php?page=contact
RewriteRule mentions-legales index.php?page=legalNotice
RewriteRule Laurent-Guigues index.php
